<!doctype html>
<html>

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>

<body>

	<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">

				<img class="d-block w-100" src="assets\images\banner.jpg" alt="First slide" height="820px">
				<div class="carousel-caption d-none d-md-block">
				</div>
			</div>
			<div class="carousel-item">
				<img class="d-block w-100" src="assets\images\blog_3.jpg" alt="Second slide" height="820px">
			</div>
			<div class="carousel-item">
				<img class="d-block w-100" src="assets\images\blog_5.jpg" alt="Third slide" height="820px">
			</div>
		</div>
		<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
	<br>
	<br>
	<div id="overviews" class="section wb">
		<div class="container">
			<div class="section-title row text-center">
				<div class="col-md-8 offset-md-2">
					<h1>QUIENES SOMOS</h1>
					<p class="lead">
						Somos una empresa 100% mexicana que cuenta con más de 10 años de experiencia siendo líder en la
						investigación y desarrollo en TI. Generando las mejores soluciones corporativas adaptadas a las necesidades
						que requiere cada instituciòn. </p>
				</div>
			</div><!-- end title -->

			<div class="row align-items-center">
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
					<div class="message-box">

						<h2>¿Quién es ASKIT?</h2>
						<p>Askit nace en un corporativo desarrollador e integrador de soluciones tecnológicas para reforzar el
							conocimiento de seguridad informàtica.</p>

						<p> En el año 2020, se lanza al mercado la marca Askit orientada a la seguridad en Tecnología de la
							Información (TI).</p>


					</div><!-- end messagebox -->
				</div><!-- end col -->

				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
					<div class="post-media wow fadeIn">
						<img src="assets\images\2.jpg" alt="" class="img-fluid img-rounded" width="500px" height="300px">
					</div><!-- end media -->
				</div><!-- end col -->
			</div>
			<div class="row align-items-center">
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
					<div class="post-media wow fadeIn">
						<img src="assets\images\1.jpg" alt="" class="img-fluid img-rounded" width="500px" height="200px">
					</div><!-- end media -->
				</div><!-- end col -->

				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
					<div class="message-box">
						<h2>Nuestro Objetivo</h2>


						<p> Ofrecer a nuestros clientes productos, servicios y soluciones a nivel global que superen sus
							expectativas de seguridad en tecnología de la información.</p>

					</div><!-- end messagebox -->
				</div><!-- end col -->

			</div><!-- end row -->
		</div><!-- end container -->
	</div><!-- end section -->
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div>
		<h1 class="title">SERVICIOS</h1>

		<div class="container">

			<div class="card">
				<img src="assets\images\3.png">
				<h4>SEGURIDAD INFORMÁTICA</h4>
				<p>Askit brinda soluciones enfocadas a la Seguridad en Tecnologías de la Información (TI) que garantizan la
					optima operación y privacidad de las organizaciones.</p>
				<a href="http://localhost:4200/view/libros">Ir a practicar</a>
			</div>

			<div class="card">
				<img src="assets\images\4.png">
				<h4>FÁBRICA DE SOFTWARE</h4>
				<p>Contamos con una amplia experiencia en desarrollar e integrar soluciones a la medida de los clientes
					mejorando así la competitividad de nuestros clientes.</p>
				<a href="http://localhost:4200/view/firmar">Ir a practicar</a>
			</div>

			<div class="card">
				<img src="assets\images\5.jpg">
				<h4>GESTIÓN ESCOLAR</h4>
				<p>Es una Plataforma dirigida 100% al Sector Educativo, con la que su Institución podrá continuar con el
					desarrollo y aprendizaje de la comunidad estudiantil.</p>
				<a href="#">Ir a practicar</a>
			</div>

		</div>

	</div>

	<div>
		<p></p>
	</div>
	<app-footer></app-footer>






	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>

</html>
