<!-- <div class="general_page">
    <div class="header">
        <h1>Materias</h1>
    </div>
    <div class="cards_container">

        
    </div>
</div> -->

<mat-card class="example-card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
<mat-card-footer>
    sssssssssss
</mat-card-footer>
</mat-card>

<mat-card class="example-card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
<mat-card-footer>
    sssssssssss
</mat-card-footer>
</mat-card>

<mat-card class="example-card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
<mat-card-footer>
    sssssssssss
</mat-card-footer>
</mat-card>

<mat-card class="example-card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
<mat-card-footer>
    sssssssssss
</mat-card-footer>
</mat-card>

<mat-card class="example-card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
<mat-card-footer>
    sssssssssss
</mat-card-footer>
</mat-card>