<head>

  <script type='text/javascript'>
    $(document).ready(function () {
      $('.count').hide();

      $('.sociallink').hover(
        function () {
          // Set Hover Color
          social_id = $(this).find('.social').attr('id');
          switch (social_id) {
            case 'twitter':
              new_textcolor = '#55d4ff';
              new_text = 'Twitter friends';
              break;
            case 'facebook':
              new_textcolor = '#354970';
              new_text = 'Facebook friends';
              break;
            case 'dribbble':
              new_textcolor = '#b73567';
              new_text = 'Facebook friends';
              break;
            case 'rss':
              new_textcolor = '#db6610';
              new_text = 'RSS Subscribers';
              break;
            case 'googleplus':
              new_textcolor = '#383638';
              new_text = 'Google+ friends';
              break;
            case 'forrst':
              new_textcolor = '#315c23';
              new_text = 'Forrst friends';
              break;
          }

          $(this).find('.button').stop().animate({
            'left': '119px'
          }, 700);
          $(this).find('span').stop().animate({
            'margin-left': '5px',
            'color': new_textcolor
          }, 500);
          $(this).find('.social').stop().animate({
            backgroundColor: '#fcfcfc'
          }, 500);

          $(this).find('span').text(new_text);

          $(this).find('.count').stop().fadeIn("slow");

        },
        function () {
          social_id = $(this).find('.social').attr('id');
          switch (social_id) {
            case 'twitter':
              new_bgcolor = '#55d4ff';
              new_text = 'Follow on Twitter';
              break;
            case 'facebook':
              new_bgcolor = '#354970';
              new_text = 'Follow on Facebook';
              break;
            case 'dribbble':
              new_bgcolor = '#b73567';
              new_text = 'Follow on Dribbble';
              break;
            case 'rss':
              new_bgcolor = '#db6610';
              new_text = 'Subscribe via RSS';
              break;
            case 'googleplus':
              new_bgcolor = '#383638';
              new_text = 'Follow on Google+';
              break;
            case 'forrst':
              new_bgcolor = '#315c23';
              new_text = 'Follow on Forrst';
              break;
          }

          $(this).find('.button').stop().animate({
            'left': '0'
          }, 700);
          $(this).find('span').stop().animate({
            'margin-left': '30px',
            'color': '#ffffff'
          }, 600);
          $(this).find('.social').stop().animate({
            backgroundColor: new_bgcolor
          }, 500);

          $(this).find('span').text(new_text);

          $(this).find('.count').stop().fadeOut("slow");
        });
    });
  </script>

</head>
<footer class="footer-area footer--light">
  <div class="footer-big">
    <!-- start .container -->
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <div class="footer-widget">
            <div class="widget-about">
              <img src="assets\images\a.jpeg" alt="" class="img-fluid" width="200px" height="200px">
              <p>Corporativo, consultor, desarrollador e integrador de soluciones tecnológicas.</p>


              <ul class="contact-details">
                <li>
                  <span class="icon-earphones"></span> Contactar ahora:
                  <a href="tel:(55)5235 5159">(55) 5235 5159</a>
                </li>
                <li>
                  <span class="icon-envelope-open"></span>
                  <a href="mailto:info@zkitofficial.com">info@zkitofficial.com</a>
                </li>
              </ul>
            </div>
          </div>
          <!-- Ends: .footer-widget -->
        </div>
        <!-- end /.col-md-4 -->
        <div class="col-md-3 col-sm-4">
          <div class="footer-widget">
            <div class="footer-menu footer-menu--1">
              <h4 class="footer-widget-title">SERVICIOS</h4>
              <ul>
                <li>
                  <a href="http://localhost:4200/view/libros">SEGURIDAD INFORMÁTICA</a>
                </li>
                <li>
                  <a href="http://localhost:4200/view/firmar">FÁBRICA DE SOFTWARE</a>
                </li>
                <li>
                  <a href="http://localhost:4200/view/firmar">GESTIÓN ESCOLAR</a>
                </li>
              </ul>
            </div>
            <!-- end /.footer-menu -->
          </div>
          <!-- Ends: .footer-widget -->
        </div>
        <!-- end /.col-md-3 -->

        <div class="col-md-3 col-sm-4">
          <div class="footer-widget">
            <div class="footer-menu">
              <h4 class="footer-widget-title">Nosotros</h4>
              <ul>
                <li>
                  <a href="http://localhost:4200/view/inicio">QUIENES SOMOS</a>
                </li>
                <li>
                  <a href="http://localhost:4200/view/inicio">¿Quién es ASKIT?</a>
                </li>
                <li>
                  <a href="http://localhost:4200/view/inicio">Nuestro Objetivo</a>
                </li>
                <li>
                  <a href="http://localhost:4200/view/inicio">SERVICIOS</a>
                </li>
                <li>
                  <a href="http://localhost:4200/view/inicio">Contactanos</a>
                </li>
              </ul>
            </div>
            <!-- end /.footer-menu -->
          </div>
          <!-- Ends: .footer-widget -->
        </div>
        <!-- end /.col-lg-3 -->

        <div class="col-md-3 col-sm-4">
          <div class="footer-widget">
            <div class="footer-menu no-padding">
              <h4 class="footer-widget-title">Contactanos</h4>
              <div class="wrap">
                <a href="https://twitter.com/" class="sociallink">
                  <div id="twitter" class="social" style="background-color: rgb(85, 212, 255);">
                    <div class="button" style="left: 0px;">
                    </div>
                    <span style="color: rgb(255, 255, 255); margin-left: 30px;">Seguir en Twitter</span>
                    <div class="count" style="display: none; opacity: 1;">
                      160</div>
                  </div>
                </a>
                <br />
                <br />
                <a href="https://www.facebook.com/" class="sociallink">
                  <div id="facebook" class="social" style="background-color: rgb(53, 73, 112);">
                    <div class="button" style="left: 0px;">
                    </div>
                    <span style="color: rgb(255, 255, 255); margin-left: 30px;">Seguir en Facebook</span>
                    <div class="count" style="display: none; opacity: 1;">
                      2615</div>
                  </div>
                </a>
                <br />
                <br />
                <a href="http://feeds.feedburner.com/" class="sociallink">
                  <div id="rss" class="social" style="background-color: rgb(219, 102, 16);">
                    <div class="button" style="left: 0px;">
                    </div>
                    <span style="color: rgb(255, 255, 255); margin-left: 30px;">Suscribe vía RSS</span>
                    <div class="count" style="display: none; opacity: 1;">
                      33</div>
                  </div>
                </a>
                <br />
                <br />
                <a href="https://plus.google.com/" class="sociallink">
                  <div id="googleplus" class="social" style="background-color: rgb(56, 54, 56);">
                    <div class="button" style="left: 0px;">
                    </div>
                    <span style="color: rgb(255, 255, 255); margin-left: 30px;">Seguir en Google+</span>
                    <div class="count" style="display: none; opacity: 1;">
                      5</div>
                  </div>
                </a>
                <br />
                <br />
              </div>
            </div>
            <!-- end /.footer-menu -->
          </div>
          <!-- Ends: .footer-widget -->
        </div>
        <!-- Ends: .col-lg-3 -->

      </div>
      <!-- end /.row -->
    </div>
    <!-- end /.container -->
  </div>
  <!-- end /.footer-big -->

  <div class="mini-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright-text">
            <p>© {{ano}}
              <a href="http://localhost:4200/view/inicio">ASKIT</a>. All rights reserved. Created by
              <a href="http://localhost:4200/view/inicio">ASKIT</a>
            </p>
          </div>


        </div>
      </div>
    </div>
  </div>
</footer>
