<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Footer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
</head>

<footer class="container-fluid bg-grey py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="logo-part">
                            <img src="assets/images/LOGO1.png" class="w-50 logo-footer">
                            <p>Azkit</p>
                            <p>Somos una empresa 100% mexicana que cuenta con más de 10 años de experiencia siendo líder en la investigación y desarrollo en TI. Generando las mejores soluciones corporativas adaptadas a las necesidades que requiere cada instituciòn.</p>
                        </div>
                    </div>
                    <div class="col-md-6 px-4">
                        <h4> Acerca de nosotros</h4>
                        <p>Somos una empresa 100% mexicana que cuenta con más de 10 años de experiencia siendo líder en la investigación y desarrollo en TI.</p>
                        <a href="http://localhost:4200/view/dashboard/view/inicio" class="btn-footer"> Más información </a><br>
                        <a href="http://localhost:4200/view/dashboard/view/inicio" class="btn-footer"> Contactanos</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 px-4">
                        <h4> AYUDA</h4>
                        <div class="row ">
                            <div class="col-md-6">
                                <ul>
                                    <li> <a href="http://localhost:4200/view/dashboard/view/inicio"> INICIO</a> </li>
                                    <li> <a href="http://localhost:4200/view/dashboard/view/inicio"> NOSOTROS</a> </li>
                                    <li> <a href="http://localhost:4200/view/dashboard/view/inicio"> SERVICIOS</a> </li>
                                    <li> <a href="http://localhost:4200/view/dashboard/view/inicio"> CONTACTANOS</a> </li>
                                </ul>
                            </div>
                            <div class="col-md-6 px-0">
                                <ul>
                                    
                                    <li> <a href="#"> Seguridad informàtica </a> </li>
                                    <br>
                                    <li> <a href="#"> Software  </a> </li>
                                    <br>
                                    <li> <a href="#"> Gestiòn escolar  </a> </li>
                                    <br>
                                    <li> <a href="#"> Terminos y condiciones</a> </li>
                                    <br>
                                    <li> <a href="#"> Politica de privacidad</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <h3> SIGUENOS EN</h3>
                        <div class="social">
                            <a href="https://www.facebook.com/AZKIT-106156194919597/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            
                            <a href="https://www.instagram.com/azkit_oficial/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </div>
                        <form class="form-footer my-3">
                            <input type="text" placeholder="Buscar...." name="search">
                            <input type="button" value="Go">
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</footer>