<!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>movieCard</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<br>


<div class="container mt-1">
    <h1 class="text-center"
        style="text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 40px; ">
        LIBROS</h1>
    <div class="row justify-content-center">

        <div class="card movie_card">
            <a
                href="https://books.google.com.mx/books?id=mI9jDwAAQBAJ&printsec=frontcover&dq=las+matem%C3%A1ticas+de+la+criptolog%C3%ADa+secretos&hl=es-419&sa=X&ved=2ahUKEwjSkNqYhYPwAhUBXq0KHecLAUIQ6AEwAHoECAAQAg#v=onepage&q=las%20matem%C3%A1ticas%20de%20la%20criptolog%C3%ADa%20secretos&f=false">
                <img src="assets\images\l1.jpg" class="card-img-top">
            </a>


            <div class="card-body">
                <h3 class="card-text" style="text-align: center;"><a
                        href="https://books.google.com.mx/books?id=mI9jDwAAQBAJ&printsec=frontcover&dq=las+matem%C3%A1ticas+de+la+criptolog%C3%ADa+secretos&hl=es-419&sa=X&ved=2ahUKEwjSkNqYhYPwAhUBXq0KHecLAUIQ6AEwAHoECAAQAg#v=onepage&q=las%20matem%C3%A1ticas%20de%20la%20criptolog%C3%ADa%20secretos&f=false">
                        LAS MATEMÁTICAS DE LA CRIPTOLOGÍA: SECRETOS DEMOSTRABLES Y DEMOSTRACIONES SECRETAS</a> </h3>
            </div>
        </div>


        <div class="card movie_card" style="text-align: center;">
            <a
                href="https://books.google.com.mx/books?id=5Z9yDwAAQBAJ&printsec=frontcover&dq=cifrados+simetricos+libros&hl=es&sa=X&ved=2ahUKEwj56IG8n4LwAhUNna0KHfQbD5wQ6AEwB3oECAcQAg#v=onepage&q&f=false ">
                <img src="assets\images\Se.jpg" class="card-img-top" alt="...">
            </a>

            <div class="card-body">

                <h3 class="card-text" style="text-align: center;"><a
                        href="https://books.google.com.mx/books?id=5Z9yDwAAQBAJ&printsec=frontcover&dq=cifrados+simetricos+libros&hl=es&sa=X&ved=2ahUKEwj56IG8n4LwAhUNna0KHfQbD5wQ6AEwB3oECAcQAg#v=onepage&q&f=false">
                        INTRODUCCIÓN A LA SEGURIDAD INFORMÁTICA Y EL ANÁLISIS DE VULNERABILIDADES
                    </a></h3>

            </div>
        </div>

        <div class="card movie_card" style="text-align: center;">
            <a href="https://drive.google.com/file/d/1K2iCRYD7pqRpNfaeozi6CHJkPtcgCk8Z/view">
                <img src="assets\images\se1.jpg"
                class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h3 class="card-text"><a href="https://books.google.com.mx/books?id=cjsHVSwbHwoC&pg=PA25&dq=cifrados+simetricos+libros&hl=es&sa=X&ved=2ahUKEwiC39Pf2ITwAhVIY6wKHZvCBgoQ6AEwAXoECAQQAg#v=onepage&q=cifrados%20simetricos%20libros&f=false">
                    FUNDAMENTOS DE SEGURIDAD EN REDES: APLICACIONES Y ESTÁNDARES</a> </h3>
            </div>
        </div>

        <div class="card movie_card" style="text-align: center;">
            <a href="https://books.google.com.mx/books?id=eo6fDwAAQBAJ&printsec=frontcover&dq=tipos+de+cifrados+en+python&hl=es&sa=X&ved=2ahUKEwjb6bqU3YTwAhUBi6wKHd7-AGEQ6AEwBXoECAUQAg#v=onepage&q&f=false">
                <img src="assets\images\py.png"
                class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h3 class="card-text"><a href="">CRIPTOGRAFÍA SIN SECRETOS CON PYTHON</a></h3>

            </div>
        </div>

        <div class="card movie_card" style="text-align: center;">
            <a href="https://books.google.com.mx/books?id=cnjhCwAAQBAJ&printsec=frontcover&dq=programacion+en+javascript&hl=es&sa=X&ved=2ahUKEwiriffD4oTwAhVLT6wKHcu5C-sQ6AEwBnoECAcQAg#v=onepage&q&f=false">
                <img src="assets\images\js.jpg"
                class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h3 class="card-text"><a href="https://books.google.com.mx/books?id=cnjhCwAAQBAJ&printsec=frontcover&dq=programacion+en+javascript&hl=es&sa=X&ved=2ahUKEwiriffD4oTwAhVLT6wKHcu5C-sQ6AEwBnoECAcQAg#v=onepage&q&f=false">
                    APRENDIENDO JAVASCRIPT: DESDE CERO HASTA ECMASCRIPT 6 </a></h3>
            </div>
        </div>

        <div class="card movie_card" style="text-align: center;">

            <a href="https://books.google.com.mx/books?id=pOvDDwAAQBAJ&printsec=frontcover&dq=programacion+de+criptografia&hl=es&sa=X&ved=2ahUKEwi138X054TwAhUG2qwKHb0MBSIQ6AEwBXoECAcQAg#v=onepage&q=programacion%20de%20criptografia&f=false">
                <img src="assets\images\pb.jpg"           
                class="card-img-top" alt="...">
            </a>

            <div class="card-body">
                <h3 class="card-text"><a href="https://books.google.com.mx/books?id=pOvDDwAAQBAJ&printsec=frontcover&dq=programacion+de+criptografia&hl=es&sa=X&ved=2ahUKEwi138X054TwAhUG2qwKHb0MBSIQ6AEwBXoECAcQAg#v=onepage&q=programacion%20de%20criptografia&f=false">PROGRAMACIÓN BÁSICA: EN LENGUAJE NATURAL</a></h3>
            </div>
        </div>



    </div>


</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

</html>