<br>
<div>
  <div class="row">
    <div class="col-sm-6">
      <h1 style="text-align: center;">
        Encriptar
      </h1>
      <br>
      <div class="form-group">
        <br>
        <br>

        <!-- Select  dinamico -->

        <select [(ngModel)]="selectedcifrado.id" (change)="onSelect($any($event.target).value)">
          <option *ngFor="let cifrado of cifradoss" value="{{cifrado.id}}">
            {{cifrado.name}}

          </option>
        </select>

        <select >
          <option *ngFor="let tipo of tiposs" value={{tipo.id}}>
            {{tipo.name}}

          </option>
        </select>
   

        <br>
        <label>Texto </label>
        <input type="text" class="form-control" placeholder="Ingresa texto a encriptar" [(ngModel)]="enctexto">
      </div>

      <div class="form-group">
        <label for="txtPassword">Clave</label>
        <input type="password" class="form-control" placeholder="Ingresa llave de encripción" [(ngModel)]="encPass">
      </div>
      <textarea class="form-control" readonly rows="1">{{textoEncriptado}} {{textoDesencriptado}}</textarea>
      <br>
      <button type="button" class="btn btn-success float-right" (click)="convertirTexto('encriptar')">Encriptar</button>
      <button type="button" class="btn btn-success float-right"
        (click)="convertirTexto('desencriptar')">Desencriptar</button>
    </div>
  </div>
</div>