<br>
<br>
<div class="container justify-content-center">
  <div class="container justify-content-center">
    <div class="container justify-content-center lg-col-4">


      <h1
        style="text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 40px; ">
        FIRMAR UN MENSAJE
      </h1>
        <br>
        <div class="form-group">
          <h2>Mensaje </h2>
          <input type="text" class="form-control" placeholder="Ingresa texto a encriptar" [(ngModel)]="enctexto">
        </div>

        <h2>Mensaje Firmado</h2>

        <textarea class="form-control" readonly rows="2">{{textoEncriptado}} {{textoDesencriptado}} </textarea>
        <br>
        <h2 style="color: red; text-align: center;">{{ver}}</h2>
        <br>

        <div class="container">
          <div class="row">
            <div class="col text-center">
              
              <button type="button" class="btn btn-dark " (click)="convertirTexto('encriptar')">Firmar </button>
              &nbsp;
              &nbsp;
              <button type="button" class="btn btn-dark " (click)="verificar('encriptar')"> Verficar</button>
              <br>
              <br>
              <a href="http://localhost:4200/view/dashboard/view/firmar" style="color:white;">
                <button type="button" class="btn btn-dark" style="color:white;" >Reiniciar</button>
              </a>
              <br>

            </div>
          </div>
        </div>
    </div>
  </div>
</div>