<html>
    <br>
    <br>
    <br>
    <br>
    <h1 align="center">Firmar un mensaje </h1>
    <br>
    <br>    
    <form>
        <div class="mb-3">
          <label for="Mensaje" class="form-label">Mensaje</label>
          <input type="text" class="form-control" id="Mensaje" >
        </div>
        <div class="mb-3">
          <label for="Firma" class="form-label">Firma</label>
          <input type="text" class="form-control" id="Firma">
        </div>
        <button type="submit" class="btn btn-primary">Firmar</button>
        
        <button type="submit" class="btn btn-primary">verificacion</button>
        <button type="text" class="btn btn-primary">Reiniciar</button>
      </form>


</html>