<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="posicion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.posicion}} </td>
    </ng-container>
  
    <!-- Username Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>
  
    <!-- Nombres Column -->
    <ng-container matColumnDef="nombres">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </th>
      <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
    </ng-container>
  
    <!-- Apellidos Column -->
    <ng-container matColumnDef="apellidos">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </th>
      <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
    </ng-container>

    <!-- correo Column -->
    <ng-container matColumnDef="correo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
        <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
      </ng-container>

    <!-- Rol Column -->
    <ng-container matColumnDef="rol">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Rol </th>
      <td mat-cell *matCellDef="let element"> {{element.rol}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
    (click)="onRowClcked(row)"></tr>
  </table>
  
